@import url(style.css);
section{
    padding: 6rem 0;
}
.flex{
    display: flex;
}
.flex-1{
    flex: 1;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.btn{
    padding: 0.8rem 3rem;
    border: 2px solid transparent;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
}
.btn-primary{
    background: var(--primary);
    color: var(--secondary);
}
.btn-primary:hover{
    background: transparent;
    color: var(--primary);
    border: 2px solid var(--primary);
}
.btn-outline{
    background: transparent;
    color: var(--primary);
    border: 2px solid var(--primary);
}
.btn-outline:hover{
    background: var(--primary);
    color: var(--secondary);
}